@media (max-width: 800px){
	.menu-icon{
		display: block;
	}

	header nav{
		position: absolute;
		top: 40px;
		left: 0;
		background: black;
		width: 100%;
		display: none;
	}
	
	header nav ul{
		color: white;
		display: block;
	}

	header nav ul li{
		margin-bottom: 20px;
	}

	header .logo{
    	font-size: 14px;
	}

	#titulos h1{
    	font-size: 40px;
	}

	#conoceme .conoceme{
		flex-direction: column;
	}

	#conoceme .izquierda, #conoceme .derecha{
    	width: 100%;
	}

	#conoceme h2{
    	width: 100%;
    	font-size: 25px;
    }

   #conoceme p{
   		width: 100%;
   }

   .boton{
   		text-align: center;
   }

   #conoceme .derecha{
   		margin-top: 40px;
   }

   #conoceme .caracteristicas{
   		flex-direction: column;
   }

   #conoceme .item-caracteristica{
   		width: 100%;
   		margin-bottom: 40px;
   }

   #newsletter-form p{
   		width: 100%;
   }

   form{
   		width: 100%;
   		background: url(../img/form-fondo.png) 9%;
   		background-color: white;
   		background-size: cover;
   }
	
	#testimonios .testimonios{
		flex-direction: column;
	}
	
	.testimonio-foto.derecha{
		margin-left: 0;
	}

	.testimonio-singular{
		margin-bottom: 40px;
	}

	#preguntas-frecuentes .preguntas{
		flex-direction: column;
	}

	#preguntas-frecuentes .pregunta-singular{
		width: 100%;
	}

	#datos-contacto .datos-contacto{
		flex-direction: column;
	}

	#datos-contacto .contenedor{
		width: 100%;
	}

	
}